*,
*::after,
*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Lato', sans-serif;
}
.header{
    display: inline-block;
    width: 1600px;
    height: 92px;;
}
.header h1{
    display: inline-block;
    width: 67px;
    height: 28px;
    top: 32px;
    left: 80px;
    font-size: 20px;
    line-height: 28px;

}
.header li{
    display: inline-block;
    background-color: #ffffff;
}
.header nav{
    display: inline-block;
}
.header div{
    display: inline-block;
}
.header input{
    width: 235px;
    height:52px;
    border-radius: 50px;
    background-color: #f2f2f2;
}
.apresentacao{
 display: inline-block;
    width: 50%;
}
.apresentacao div{
 display: inline-block;
 width: 40%;
 vertical-align: middle;
}
.apresentacao img{
   background-image: url("./img/Ellipse 1.png");
   background-size: 581px;
   background-repeat: no-repeat;
}

.menu-modelos{
    background-color: #f3f3f3;
}
.menu-modelos li{
    display: inline-block;
}

.leveza-agilidade{
    background-color: #e5e5e5;
}
.leveza-agilidade div{
display: inline-block;
 width: 40%;
 vertical-align: middle;
}
.amortecimento{
    background-color: #e5e5e5;
}
.amortecimento img{
    display: inline-block;
    width: 40%;
}
.amortecimento div{
display: inline-block;
width: 40%;
vertical-align: middle;
}

.estabilizacao{
    background-color: #e5e5e5;
}
.estabilizacao div{
display: inline-block;
width: 40%;
vertical-align: middle;
}

.motivacao{
    background-image: url("./img/passo.png");
    height: 720px;
    background-size: cover;
}
    
.contato-endereco div{
    display: inline-block;
    width: 45%;
}
.contato-endereco form{
    display: inline-block;
    width: 45%;
    background-color: #f3f3f3;
}
.contato-endereco img{
    width: 90%;
    display: inline-block;
}

.footer{
    width: 1600px;
    height: 306px;
    background-color: #f3f3f3;
}
.footer ul{
display: inline-block;
}
 .footer-redes-sociais {
    display: inline-block;
 }